<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Playlist</title>
</head>
<body>
<table class="playlist table">
    <tr>
        <th>Song Title</th>
        <th>Artist Name</th>
        <th>Duration</th>
    </tr>
    <tr th:each="song: ${songs}">
        <td th:text="${song.getSongTitle()}"></td>
        <td th:text="${song.getSongArtist()}"></td>
        <td th:text="${song.getSongLength()}"></td>
        <td> <button type="button" onclick="alert('Hello world!')">Play</button>
        </td>
    </tr>
</table>

</body>
</html>